doctype html
html
  head
    style.
      body { font-family: Arial, sans-serif; }
      h1 { color: #27abe9ff; }
  body
    h1 Bem-vindo, #{name}!
    p Obrigado por se cadastrar em nossa biblioteca 🚀
    p Estamos felizes em ter você conosco.
